@import "../../../assets/scss/mixins";

.cont_table{
    table {
        
        border-collapse: collapse;
        width: 500px;
        @include font-size(0.75);
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      td{
        @include font-size(0.75);
      }
     
}